@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CustomFont';
    src: url('/fonts/custom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  